doctype html
html(lang="en")
  head
    title JS Mine Sweeper
    script(type='text/javascript', src='/js/app.js')
  body
    ul
      li
        a(href='./?width=8&height=8&mine=10') 初級
      li
        a(href='./?width=16&height=16&mine=40') 中級
      li
        a(href='./?width=30&height=16&mine=99') 上級
